In [1]:
import numpy as np
import pandas as pd
from dfply import *

In [25]:
appointment = pd.read_csv('appointments.csv')

In [3]:
appointment.head(100)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
5,9.598513e+13,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REPÃšBLICA,0,1,0,0,0,0,No
6,7.336882e+14,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0,0,0,0,0,0,Yes
7,3.449833e+12,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,39,GOIABEIRAS,0,0,0,0,0,0,Yes
8,5.639473e+13,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0,0,0,0,0,0,No
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,No
10,7.345362e+14,5630213,F,2016-04-27T14:58:11Z,2016-04-29T00:00:00Z,30,NOVA PALESTINA,0,0,0,0,0,0,No
11,7.542951e+12,5620163,M,2016-04-26T08:44:12Z,2016-04-29T00:00:00Z,29,NOVA PALESTINA,0,0,0,0,0,1,Yes
12,5.666548e+14,5634718,F,2016-04-28T11:33:51Z,2016-04-29T00:00:00Z,22,NOVA PALESTINA,1,0,0,0,0,0,No
13,9.113946e+14,5636249,M,2016-04-28T14:52:07Z,2016-04-29T00:00:00Z,28,NOVA PALESTINA,0,0,0,0,0,0,No
14,9.988472e+13,5633951,F,2016-04-28T10:06:24Z,2016-04-29T00:00:00Z,54,NOVA PALESTINA,0,0,0,0,0,0,No
15,9.994839e+10,5620206,F,2016-04-26T08:47:27Z,2016-04-29T00:00:00Z,15,NOVA PALESTINA,0,0,0,0,0,1,No
16,8.457439e+13,5633121,M,2016-04-28T08:51:47Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No
17,1.479497e+13,5633460,F,2016-04-28T09:28:57Z,2016-04-29T00:00:00Z,40,CONQUISTA,1,0,0,0,0,0,Yes
18,1.713538e+13,5621836,F,2016-04-26T10:54:18Z,2016-04-29T00:00:00Z,30,NOVA PALESTINA,1,0,0,0,0,1,No
19,7.223289e+12,5640433,F,2016-04-29T10:43:14Z,2016-04-29T00:00:00Z,46,DA PENHA,0,0,0,0,0,0,No
20,6.222575e+14,5626083,F,2016-04-27T07:51:14Z,2016-04-29T00:00:00Z,30,NOVA PALESTINA,0,0,0,0,0,0,Yes
21,1.215484e+13,5628338,F,2016-04-27T10:50:45Z,2016-04-29T00:00:00Z,4,CONQUISTA,0,0,0,0,0,0,Yes
22,8.632298e+14,5616091,M,2016-04-25T13:29:16Z,2016-04-29T00:00:00Z,13,CONQUISTA,0,0,0,0,0,1,Yes
23,2.137540e+14,5634142,F,2016-04-28T10:27:05Z,2016-04-29T00:00:00Z,46,CONQUISTA,0,0,0,0,0,0,No
24,8.734858e+12,5641780,F,2016-04-29T14:19:19Z,2016-04-29T00:00:00Z,65,TABUAZEIRO,0,0,0,0,0,0,No
25,5.819370e+12,5624020,M,2016-04-26T15:04:17Z,2016-04-29T00:00:00Z,46,CONQUISTA,0,1,0,0,0,1,No
26,2.578785e+10,5641781,F,2016-04-29T14:19:42Z,2016-04-29T00:00:00Z,45,BENTO FERREIRA,0,1,0,0,0,0,No
27,1.215484e+13,5628345,F,2016-04-27T10:51:45Z,2016-04-29T00:00:00Z,4,CONQUISTA,0,0,0,0,0,0,No
28,5.926172e+12,5642400,M,2016-04-29T15:48:02Z,2016-04-29T00:00:00Z,51,SÃƒO PEDRO,0,0,0,0,0,0,No
29,1.225776e+12,5642186,F,2016-04-29T15:16:29Z,2016-04-29T00:00:00Z,32,SANTA MARTHA,0,0,0,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,6.714489e+13,5552914,M,2016-04-06T17:59:58Z,2016-04-29T00:00:00Z,62,SOLON BORGES,0,0,0,0,0,0,No
71,1.846318e+12,5552936,F,2016-04-06T18:12:55Z,2016-04-29T00:00:00Z,30,BONFIM,1,0,0,0,0,1,No
72,7.746486e+12,5638014,F,2016-04-29T07:37:37Z,2016-04-29T00:00:00Z,61,JARDIM CAMBURI,0,0,0,0,0,0,No
73,4.542132e+13,5552934,F,2016-04-06T18:12:38Z,2016-04-29T00:00:00Z,68,REPÃšBLICA,0,1,1,0,0,1,No
74,9.672968e+12,5597628,F,2016-04-18T17:29:12Z,2016-04-29T00:00:00Z,64,MARIA ORTIZ,0,0,0,0,0,1,No
75,1.488942e+11,5597632,F,2016-04-18T17:32:53Z,2016-04-29T00:00:00Z,60,JABOUR,0,0,0,0,0,0,No
76,6.549277e+12,5597643,M,2016-04-18T17:40:18Z,2016-04-29T00:00:00Z,28,ANTÃ”NIO HONÃ“RIO,0,0,0,0,0,0,Yes
77,5.753721e+12,5642767,F,2016-04-29T17:06:27Z,2016-04-29T00:00:00Z,27,JABOUR,0,0,0,0,0,0,No
78,6.259265e+11,5597672,M,2016-04-18T17:52:49Z,2016-04-29T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
79,9.912882e+13,5597673,M,2016-04-18T17:53:25Z,2016-04-29T00:00:00Z,67,MARIA ORTIZ,0,0,0,0,0,1,Yes
80,1.486715e+12,5597685,M,2016-04-18T18:03:12Z,2016-04-29T00:00:00Z,68,JABOUR,0,0,0,0,0,1,No
81,1.976795e+13,5597689,F,2016-04-18T18:06:35Z,2016-04-29T00:00:00Z,49,JABOUR,0,0,0,0,0,1,No
82,1.827125e+11,5638939,M,2016-04-29T08:36:19Z,2016-04-29T00:00:00Z,71,JABOUR,0,0,0,0,0,0,No
83,2.274979e+11,5637742,M,2016-04-29T07:20:46Z,2016-04-29T00:00:00Z,36,RESISTÃŠNCIA,0,0,0,0,0,0,No
84,2.687996e+13,5637915,F,2016-04-29T07:31:04Z,2016-04-29T00:00:00Z,29,RESISTÃŠNCIA,0,0,0,0,0,0,No
85,7.472735e+13,5623102,F,2016-04-26T13:34:14Z,2016-04-29T00:00:00Z,69,RESISTÃŠNCIA,0,1,0,0,0,0,No
86,3.376224e+12,5595347,M,2016-04-18T12:31:34Z,2016-04-29T00:00:00Z,10,ILHA DE SANTA MARIA,0,0,0,0,0,1,No
87,4.143142e+12,5595356,M,2016-04-18T12:32:25Z,2016-04-29T00:00:00Z,2,ILHA DE SANTA MARIA,0,0,0,0,0,0,No
88,4.448346e+12,5595358,M,2016-04-18T12:32:35Z,2016-04-29T00:00:00Z,1,JUCUTUQUARA,0,0,0,0,0,0,No
89,4.314932e+14,5640380,M,2016-04-29T10:37:02Z,2016-04-29T00:00:00Z,0,MONTE BELO,0,0,0,0,0,0,No
90,8.782530e+14,5595362,M,2016-04-18T12:33:05Z,2016-04-29T00:00:00Z,11,JUCUTUQUARA,0,0,0,0,0,1,Yes
91,2.294295e+12,5598651,F,2016-04-19T07:51:31Z,2016-04-29T00:00:00Z,10,BONFIM,0,0,0,0,0,1,No
92,2.954674e+14,5638591,M,2016-04-29T08:11:38Z,2016-04-29T00:00:00Z,2,BONFIM,0,0,0,0,0,0,No
93,6.322533e+13,5639376,F,2016-04-29T09:01:10Z,2016-04-29T00:00:00Z,1,BONFIM,0,0,0,0,0,0,No
94,8.192146e+12,5640054,M,2016-04-29T10:03:12Z,2016-04-29T00:00:00Z,10,BONFIM,0,0,0,0,0,0,No
95,1.986249e+14,5640307,M,2016-04-29T10:28:54Z,2016-04-29T00:00:00Z,1,BONFIM,0,0,0,0,0,0,No
96,7.937625e+13,5623692,M,2016-04-26T14:28:39Z,2016-04-29T00:00:00Z,3,BONFIM,0,0,0,0,0,1,No
97,5.253342e+12,5565493,F,2016-04-11T09:00:00Z,2016-04-29T00:00:00Z,35,BONFIM,0,0,0,0,0,1,No
98,3.725964e+14,5571906,F,2016-04-12T09:44:42Z,2016-04-29T00:00:00Z,51,BONFIM,0,0,0,0,0,1,No
99,1.246213e+11,5641893,F,2016-04-29T14:38:28Z,2016-04-29T00:00:00Z,1,BONFIM,0,0,0,0,0,0,No

In [29]:
appointment['Gender'] = np.where(appointment['Gender'] == 'F', 0, 1)
appointment['ScheduledDay'] = pd.to_datetime(appointment['ScheduledDay']).dt.date
appointment['AppointmentDay'] = pd.to_datetime(appointment['AppointmentDay']).dt.date
appointment['DaysBetween'] = abs(
    appointment['ScheduledDay'] - appointment['AppointmentDay']
).dt.days
appointment['NoShow'] = np.where(appointment['No-show'] == 'No', 0, 1)

/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py:1167: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

TypeError: invalid type comparison

In [37]:
appointment = (appointment >> 
    arrange(X.PatientId, X.AppointmentDay) >>
    group_by(X.PatientId) >>
    mutate(
        PreviousMiss = cumsum(X.NoShow)
    )
)

In [39]:
appointment.to_csv('appointments_clean.csv')